body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Rest van je CSS-code */
.block {
  background-size: cover;
  border: 1px solid #333;
}

.block.i {
  background-image: url(../images/blue_block.png);
}

.block.j {
  background-image: url(../images/pink_block.png);
}

.block.l {
  background-image: url(../images/orange_block.png);
}

.block.o {
  background-image: url(../images/yellow_block.png);
}

.block.s {
  background-image: url(../images/red_block.png);
}

.block.t {
  background-image: url(../images/purple_block.png);
}

.block.z {
  background-image: url(../images/green_block.png);
}
